.learning-stack-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .start-learning-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .start-learing-button {
    margin-top: 15px;
    flex: 1;
    background-color: #787878;
  }

  .learning-stack-metadata{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }

  .learning-progress{
    background-color: #787878;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-width: 30px;
    height: 30px;
    font-weight: 700;
    padding: 0 10px;
  }

  .difficulty-counter-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-around; /* Gleichmäßiger Abstand */
    align-items: center; /* Vertikale Zentrierung der Zähler */
}

.difficulty-counter {
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0 5px;
    min-width: 30px;
    height: 30px;
    font-weight: 700;
}

  .difficulty-counter.easy{
    background-color: lightgreen;
  }

  .difficulty-counter.good{
    background-color: skyblue;
  }

  .difficulty-counter.mid{
    background-color: khaki;
  }

  .difficulty-counter.hard{
    background-color: salmon;
    margin-right: 0;
  }

  .fineshed-learning-stack-container{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
  }

  .difficulty-counter-container-fineshed{
    display: flex; 
    flex-direction: row;
    justify-content: space-between ; /* Gleichmäßiger Abstand */
    align-items: start; /* Vertikale Zentrierung der Zähler */
    margin: 15px 0;

  }

  .finished-difficulty-description{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .finished-header{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 10px;

}

.cards-amount-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.amount-input {
  width: 100%; 
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #4f4f4f;
  color: white;
  outline: none;
  text-align: center;
}

.toggle-slider-container {
  display: flex;
  justify-content: left;
  margin-top: 15px;
  margin-bottom: 5px;
}

.toggle-slider {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider-text{
  align-self: center;
  margin-left: 10px;
  font-size: 1.25rem;
  color: #bbb;
}

.toggle-slider input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #787878;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: lightgreen;
}



input:checked + .slider:before {
  transform: translateX(26px);
}


/* Machen den Slider rund */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


