.decks-cards-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 100%;
    align-items: center;
}

.decks-cards-header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.decks-cards-header{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.show-add-card-button{
    background: skyblue;
    height: 32.5px;
    width: 36.6px;
}

.show-add-card-button{
    background: skyblue;
    height: 32.5px;
    width: 36.6px;
}

.delete-mode-button{
    height: 32.5px;
    width: 36.6px;
    background: #787878;
    position: sticky;
    top: 0;
}

.delete-mode-button.active{
    background: salmon;
}



.delete-cards-button{
    width: 100%;
    height: 32.5px;
    background: #787878;
    margin-bottom: 2px;
}

.delete-cards-button.active{
    background: salmon;
}



.decks-cards-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    margin-top: 5px;
    align-items: center;
}



.decks-cards-header-container h4{
    font-size: 2rem;
}





.card-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid #4f4f4f;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);

}

.card-item.in-learning-stack{
    /*background: lightgreen*/
}






.card-item:hover {
    background: #787878;
    cursor: pointer;
}

.card-item.delete-selected{
    background: rgba(246, 134, 121, 0.59)
}

.card-item.delete-selected:hover{
    background: rgba(246, 134, 121, 0.418)
}



.card-front, .card-back {
    flex: 1; /* Ermöglicht eine gleichmäßige Aufteilung des verfügbaren Raums */
    text-align: center;
    padding: 5px;
    width: 100%;
}

@media (max-width: 500px) {
    .card-item {
        flex-direction: column;
        padding: 10px 15px;
         
    }


    .card-back{
        border-top: 0.0001px solid #4f4f4f;
    }

    .decks-cards-list-header-container{
        display: none;
    }

    .card-item:hover{
        background: none;
    }
}

